
.container_homeComponent {
  /* position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 80%;
  max-width: 1600px;
  margin: auto;
  margin-top: 20px;
  margin-left: -19%;
  padding: 40px;
 float: left; */
}

 .banner {
  font-family: halfomania;
  color: #f8f8f8;
  font-size: 100px;
  line-height: 60px;
  letter-spacing: 1.5px;
  text-shadow: 0px 0px 15px white;
  opacity: 95;
  max-width: 100%;
}

.location {
position: relative;
left: 4.0em;
z-index: 5;
}

#location_input {
text-align: center;
font-style: italic;
width: 80%;
height: 55px;
margin-top: 13px;
border-radius: 15px;
border-style: none;
outline: 0
}

.date {
  /* left: 4.0em;
  margin-top: 15px;
  position: relative;
  width: 1600px; */
  z-index: 5;
}

.date_input {
  text-align: center;
  font-style: italic;
  width: 100%;
  height: 55px;
  margin-top: 13px;
  border-radius: 15px;
  outline: 0;
  /* z-index: 5; */
}



#findMusicRow {
justify-content: center;
margin-top: 13px;
}

#search_button {
  font-family: halfomania;
  color: #f8f8f8;
  font-size: 90px;
  width: 1600px;
  height: 100px;
  background-color: transparent;
  border-style: none;
  transition: all 0.2s ease;
  animation: down-bump 0.4s ease;
  z-index: 5;
  outline: 0;
}

/* #search_button:hover{
  font-family:vindica;
  font-size: 150px;

  text-shadow: 0px 0px 15px white;
  color: linear-gradient(white, #333 50%, #333);
  animation: up-bump 0.4s ease;
} */
#search_button:click {

}
.results{
  /* display: none; */
  position: relative;
  margin-top: 100px;
  width: 250%;
  right: 19%;
  margin-left: 18%;
}

.artist-list {
  border: 1px solid black;
}

.artist-section {
  border: 1px solid black;
}

.api-data {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.artist-row {
  border-bottom: 1px solid black
}
