

<div class="container_homeComponent">
  <div class="container">
    <div class="banner">
      LISTEN TO BANDS PLAYING IN YOUR AREA
    </div>
  </div>
  <div class="container form">
    <div class="location">
      <input id="location_input" #location value="Los Angeles">
    </div>

    <div class="row">
      <div class="col-lg-6 date">
        <input class="date_input" type="date" #minDate value="2019-02-07">
      </div>
      <div class="col-lg-6 date">
        <input class="date_input" type="date" #maxDate value="2019-02-07">
      </div>
    </div>
    <div id="findMusicRow" class="row">

      <ul>
        <div *ngFor="let artist of spotifyArtistListFromQuery">
          <li *ngIf="artist.artists.items[0]">
            <!-- {{ artist.artists.items[0].name }}
            {{ artist.artists.items[0].id }} -->
              <!-- <iframe src='https://open.spotify.com/embed/artist/{{artist.artists.items[0].id }}'  width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
              <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(getSpotifyPlayerURL(artist.artists.items[0].id))'  width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

          </li>
        </div>
      </ul>
      <button id="spotifyURL" (click)="getSpotifyPlayerURL()" (click)="toggle('results')">get spotify URL strings</button>
      <p></p>
      <button id="search_button" (click)="generateArrayOfHeadlinerPerformances(location.value, minDate.value, maxDate.value)" (click)="toggle('results')">Find Music</button>
      <p></p>


    </div>
    <button  (click)="getAllSpotifyArtistObjects()" class="btn btn-warning">Find songs on Spotify from artist list</button>
  </div>

<div class="container results d-flex justify-content-center" [@slideUpandDown]="animationState">
  <div class="row">
    <div  class="col-lg-6">
      <div class="container api-data">
        <div class="row artist-row"  *ngFor="let artist of showList">
          <div class="col-lg-3">
          <p>{{artist.artistName}}</p>
          </div>
          <div class="col=lg-3">
            <p>{{artist.venueName}}</p>
            <p><a href="{{artist.uri}}">Event Link</a></p>
          </div>
        </div>
      </div>
    </div>
    <ul>
      <div *ngFor="let artist of spotifyArtistListFromQuery">
        <li *ngIf="artist.artists.items[0]">
          {{ artist.artists.items[0].name }}
          {{ artist.artists.items[0].id }}

        </li>
      </div>
    </ul>
    <!-- <div *ngFor="let artist of spotifyArtistListFromQuery">
      {{ artist.artists.items[0].name }}
      {{ artist.artists.items[0].id }}
      <div class="col-lg-6 player">
        <h3>artist.artists.items[0].id{{artist.artists.items[0].id}}</h3>
      </div> -->
    </div>
  </div>
</div>
